body {
    background-color: #eee;
    font-family: abeezee;
}

#chess {
    height: 512px;
    width: 512px;
    border: 4px black solid;
}

#wrapper {
    width: 512px;
    margin: auto;
}

#turn {
    color: #444;
    margin-bottom: 16px;
}

@font-face {
  font-family: abeezee;
  src: url(../font/ABeeZee-Regular.ttf);
}

@font-face {
  font-family: abeezee-i;
  src: url(../font/ABeeZee-Italic.ttf);
}
